<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajout des utilisateurs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/favicon.png" style="width: 80%;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Dashboard</a></li>
                <li class="active"><a href="#">List des utilisateurs</a></li>
                <li><a href="#">Liste des calendriers</a></li>
                <li><a href="#">Ecran de saisie des objectifs</a></li>
                <li><a href="#">Calendrier</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <h3 class="card-header" th:text="#{cards.title.users.add}">Ajouter utilisateur</h3>
                <div class="card-body">
                    <form class="form-horizontal" th:action="@{/admin/users/save}" method="post" th:object="${user}" role="form">
                        <input type="hidden" class="form-control" th:field="*{id}">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Prenom</label>
                            <div class="col-10">
                                <input type="text" class="form-control" th:field="*{firstName}"
                                       value="Some text value...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Nom</label>
                            <div class="col-10">
                                <input type="text" class="form-control" th:field="*{lastName}"
                                       value="Some text value...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Utilisateur</label>
                            <div class="col-10">
                                <input type="text" class="form-control" th:field="*{username}"
                                       value="Some text value...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Email</label>
                            <div class="col-10">
                                <input type="email" class="form-control" th:field="*{email}"
                                       placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Password</label>
                            <div class="col-10">
                                <input type="password" class="form-control" th:field="*{password}"
                                       value="Some text value...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Status</label>
                            <div class="col-md-10">
                                <input type="checkbox" checked data-plugin="switchery"
                                       data-color="#ffb90f" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Role</label>
                            <div class="col-10">
                                <select th:field="*{roles}" class="form-control" id="selRole">
                                    <option th:each="role : ${allRoles}" th:value="${role.id}"
                                            th:text="${role.name}">Role</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Entité</label>
                            <div class="col-10">
                                <select th:field="*{entity}" class="form-control" id="selEntity">
                                </select>
                            </div>
                        </div>
                        <div class="col-4 offset-4">
                            <button type="submit" class="btn btn-warning">Sauvegarder</button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
    </div>
</div>
</div>
<footer class="container-fluid text-center" style="height: 2px;">
    <p></p>
</footer>
</body>
</html>