<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier un jour f&eacute;ri&eacute;</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
      position: absolute;
      bottom: 0%;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/favicon.png" style="width: 80%;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Dashboard</a></li>
                <li class="active"><a href="#">List des utilisateurs</a></li>
                <li><a href="#">Liste des calendriers</a></li>
                <li><a href="#">Ecran de saisie des objectifs</a></li>
                <li><a href="#">Calendrier</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h3 class="text-center">Modification d'un jour f&eacute;ri&eacute;</h3>
    <form>
        <div class="form-group row">
            <label for="jourf" class="col-sm-2 col-form-label">Jour f&eacute;ri&eacute;</label>
            <div class="col-sm-10">
                <select class="form-select" id="jourf">
                    <option selected>S&eacute;lectionner un jour f&eacute;ri&eacute;</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="jour" class="col-sm-2 col-form-label">Jour</label>
            <div class="col-sm-10">
                <select class="custom-select my-1 mr-sm-2" id="jour">
                    <option selected>0.5 j</option>
                    <option>1 j</option>
                    <option>2 j</option>
                    <option>3 j</option>
                    <option>4 j</option>
                    <option>5 j</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Jour s&eacute;l&eacute;ctionn&eacute;</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date">
            </div>
        </div>
        <div class="form-group row text-center">
            <a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
        </div>
    </form>
</div>

<footer class="container-fluid text-center" style="height: 2px;">
    <p></p>
</footer>
</body>
</html>